
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import "~sass-rem";

.Card {
	background: $white;
    margin-bottom: rem(32px);  
   

    .Link {
        display: flex;
    }
    
    &:hover {
        box-shadow: $main-box-shadow;
           
    }

    @include mq(medium) {      
        height: rem(220px);
        overflow: hidden;
        display: flex;
    }

    @include mq(large) {      
        height: rem(280px);    
    }
}

.ImageContent {
    position: relative;
    cursor: pointer;

    .Backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $backdrop-bgcolor;
        opacity: 0;
    }

    img {
        width: 100%;
        display: block;   
        object-position: center center;
    }
    
    &:hover .Backdrop {
        transition: $mainTransition;
        opacity: 1;
    }

    &:hover .CloseBtn {
        opacity: 1;   
    }

    @include mq(medium) {
        width: 50%;   
        img {
            height: 100%;
        }    
    }
}  

.CloseBtn {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: rem(24px);
    cursor: pointer;
    transition: $mainTransition;
    opacity: 0;
    color: $close-button-color;
}

.ToggleBtn {
    cursor: pointer;
    position: relative;
    top: 3px;
    svg {
        cursor: pointer;
        fill: $toggle-button-color; 
    }
}

.CardContent {
    padding: 1rem;
    
    h2,h3,h4,h5 {
        margin-top: 0;
        margin-bottom: rem(10px);
        font-weight: 600;
        text-transform: capitalize;
        line-height: 1.3;
    }

    h4 {
        color: $h4-color;    
    }

    h5 {
        margin-top: rem(8px);
    }

    @include mq(medium) {
        width: 50%;   
        img {
            height: 100%;
        }  
    }
      
}